* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  padding: 60px;
}

.background_Header {
  top: 0;
  left: 0;
  z-index: -1;
  display: flex;
  position: absolute;
  width: 100vw;
  height: 165px;
  background-color:  rgb(37, 37, 37);
}

h1 {
  color: whitesmoke;
  display: flex;
  font-family: Montserrat, Helvetica, sans-serif;
  justify-content: center;
}

h3 {
  width: 80vw;
  color:  rgb(37, 37, 37);
  font-family: Montserrat, Helvetica, sans-serif;
}

.Subheader_Cointainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  padding: 5px 5px 5px 5px;
  width: 20vw;
  transition: width 0.4s ease-in-out;
}

input:focus {
  width: 80vw;
}

.horizontalLine {
  border-top: 1px solid whitesmoke;
  padding: 5px 0 5px 0;
  margin-top: 10px;
  width: 100%;
}

.card {
  background-color: whitesmoke;
  border: 1px solid  rgb(37, 37, 37);
  border-radius: 5px;
  margin: 15px 30px 15px 0px;
  align-items: center;
  width: fit-content;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
.card:hover {
  transform: scale(1.05);
}

.card p {
  background-color: whitesmoke;
  padding: 5px;
  text-align: center;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
